pymongo
# TODO: If you are grading this be aware that Postman is not fully functional with my build. The reason is unknown at the time of this 
# TODO: submission. I have gone to OH's multiple times and spoke with Jesse so if you have any questions please refer to him.
# TODO: I can still use Postman to send the request but Postman does not always get a response. The changes are reflected though
# TODO: all you need to do is check from the localhost port and refresh after a POST or DELETE for example. thank you

# just making sure this updates