body {
  background-color: rgb(8, 8, 8);
  color: white;
}

.my_image {
  width: 120px;
}

.uploaded_images {
  width: 120px
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.user_messages {
  float: left;
  padding: 10px;
}

.user_messages.leftside {
  width: 50%
}

.user_messages.rightside {
  width: 50%
}